<h1>Edit Your Booking</h1>
<div class="container mt-5 shadow border w-75">
<h2><%= @experience.title %></h2>
<p><%= @experience.description %></p>
<p><%= @experience.price %></p>
<p><%= @experience.availability %></p>

<%= link_to "Book Now", experience_bookings_path %>
</div>
