<h1>Bookings#new</h1>

<h2><%= @experience.title %></h2>
<p><%= @experience.description %></p>
<p><%= @experience.price %></p>
<p><%= @experience.availability %></p>

<%= link_to "Book Now", experience_bookings_path %>
