<div class="container">
    <% if @hosted_experiences.present? %>
      <h3>My Experiences</h3>
      <ul>
        <% @hosted_experiences.each do |experience| %>
          <li>
            <strong><%= experience.title %></strong><br>
            <%= experience.description %><br>
            <strong>Category:</strong> <%= experience.category %><br>
            <strong>Price:</strong> $<%= experience.price %><br>
            <strong>Rating:</strong> ⭐ <%= experience.rating %><br>
            <strong>Seats:</strong> <%= experience.available_seats %> / <%= experience.seats %><br>
            <strong>Start Time:</strong> <%= experience.start_time %><br>
            <strong>End Time:</strong> <%= experience.end_time %><br>
            <strong>Location:</strong> <%= experience.location %><br>
            <%= link_to 'View', experience_path(experience), class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_experience_path(experience), class: "btn btn-warning" %>
          </li>
      <% end %>
      </ul>
      <%= link_to 'Add New Experience', new_experience_path, class: "btn btn-success" %>
    <% else %>
      <% "You don't own any experiences yet." if Experience.find_by(user_id: current_user.id) %>
    <% end %>

  <% if @hosted_reviews.present? %>
  <h3>My Reviews</h3>
    <ul>
      <% @hosted_reviews.each do |review| %>
        <li>
          <strong><%= review.user.email %></strong> rated
          (⭐ <%= review.rating %>)/5 for
          <%= review.experience.title %><br>
          "<%= review.content %>"
        </li>
      <% end %>
    </ul>
  <% else %>
    <% "No reviews for your experiences yet." if Experience.find_by(user_id: current_user.id)  %>
  <% end %>






</div>

<div class="container">
  <h1>Dahsboard</h1>
  <hr>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="booking-tab" data-bs-toggle="tab" data-bs-target="#booking"
        type="button" role="tab" aria-controls="booking" aria-selected="true">My Bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews"
        type="button" role="tab" aria-controls="reviews" aria-selected="false">Your Latest Reviews</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="recommended-tab" data-bs-toggle="tab" data-bs-target="#recommended"
        type="button" role="tab" aria-controls="recommended" aria-selected="false">Your Recommended Experiences</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="booking" role="tabpanel" aria-labelledby="booking-tab">
      <% unless Experience.find_by(user_id: current_user.id) %>
          <!-- Guest -->
          <h3>My Bookings</h3>
          <% if @booked_experiences.present? %>
            <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @booked_experiences.each do |booking| %>
                <tr>
                  <th scope="row"><%= booking.experience.title %></th>
                  <td><%= booking.experience.start_time %></td>
                  <td><%= booking.experience.end_time %></td>
                  <td>
                    <%= link_to experience_booking_path(booking.experience_id, booking.id), class: "text-primary text-decoration-none" do %>
                      <i class="fa-solid fa-eye"></i>
                    <% end %>
                    | 
                    <%= link_to booking, class: "text-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fa-solid fa-ban"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
          <% else %>
            <p>You don't have any bookings yet.</p>
          <% end %>
        <% end %>
    </div>

    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <% unless Experience.find_by(user_id: current_user.id) %>
      <!-- Guest -->
        <h3>Your Lastest Reviews</h3>
        <% if @user_reviews.present? %>
          <ul>
            <% @user_reviews.each do |review| %>
              <li>
                <strong><%= review.experience.title %></strong> rated
                ⭐<%= review.rating %>/5 by You
                <br>
                "<%= review.content %>"
              </li>
            <%= link_to 'View', experience_path(review.experience_id), class: "btn btn-info" %>
            <% end %>
          </ul>
        <% else %>
          <p>You haven't reviewed any experiences yet.</p>
        <% end %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="recommended" role="tabpanel" aria-labelledby="recommended-tab">
      <% unless Experience.find_by(user_id: current_user.id) %>
        <!-- Guest -->
        <h3> Recommended Experiences</h3>
        <div class="row">
          <% @recommended_experiences.each do |experience| %>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= experience.title %></h5>
                  <p class="card-text"><%= experience.description %></p>
                  <p class="card-text"><strong>Rating:</strong> ⭐ <%= experience.rating %></p>
                  <p class="card-text"><strong>Price:</strong> $<%= experience.price %></p>
                  <%= link_to 'View Experience', experience_path(experience), class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
