<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<div class="cover text-center bg-light py-5">
  <div class="container">
    <h1 class="display-4">Discover Amazing Experiences</h1>
    <p class="lead">City Xplor te conecta con lo mejor de tu ciudad</p>
  </div>
</div>

<div class="container my-5">
  <h2 class="mb-4 text-center">Amazing Experiences</h2>
  <div class="row">
    <% @experiences.each do |experience| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <% if experience.img_url.present? %>
            <%= image_tag experience.img_url, class: "card-img-top" if experience.img_url.present? %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= experience.title %></h5>
            <p class="card-text"><%= truncate(experience.description, length: 100) %></p>
            <%= link_to "See more", experience_path(experience), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-3">
    <%= link_to "Show more experiences", experiences_path, class: "btn btn-outline-primary" %>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container">
    <h2 class="mb-4 text-center">What People Are Saying</h2>
    <div class="row">
      <% @reviews.each do |review| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">"<%= truncate(review.content, length: 120) %>"</p>
              <p class="text-muted mb-0"><strong><%= review.user.email %></strong></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
