<div class="container mt-5 shadow border w-75">
  <h1>Experiences#new</h1>
  <p>Find me in app/views/experiences/new.html.erb</p>
  <%= simple_form_for @experience do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :seats %>
    <%= f.input :category, collection:["Culture", "Outdoors", "Gastronomy", "Party", "Sports", "Art", "Spirituality"], prompt:"Select Category" %>
    <%= f.input :price %>
    <%= f.input :start_time, html5: true %>
    <%= f.input :end_time, html5: true %>
    <%= f.button :submit, 'Create Experience', class:"btn btn-primary" %>
  <% end %>
</div>
