<h1>Experiences#show</h1>

<h2><%= @experience.title %></h2>
<p><%= @experience.description %></p>
<%= link_to "Destroy", experience_path(@experience), data: {turbo_method: :delete, turbo_confirm: "Estas seguro que quieres borrar esta experiencia?"} %>
<%= link_to "Edit", experience_path(@experience)  %>
<%= link_to "Book Now", new_experience_booking_path(@experience) %>

<h1>Reviews</h1>

<% @reviews.each do |review|%>
<div class="review">
  <p><%= review.content %></p>
  <p>Rating: <%= review.rating %></p>
  <p>By: <%= review.user.email %></p>
<% end %>
</div>
