<h1>Experiences#show</h1>

<h2><%= @experience.title %></h2>
<p><%= @experience.description %></p>

<h1>Reviews</h1>

<% @reviews.each do |review|%>
<div class="review">
  <p><%= review.content %></p>
  <p>Rating: <%= review.rating %></p>
  <p>By: <%= review.user.email %></p>
<% end %>
</div>
